header {
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  display: flex;
  justify-content: center;
  text-decoration: none;
  list-style: none;
  font-size: 75%;
}
body{
  background: url(../IMG/food_photo.jpeg)no-repeat center;
  background-size: cover;
  min-height: 100vh;
  background-attachment: fixed;
}
a {
  font-weight: bolder;
  outline: none;
  text-decoration: none;
  color: aliceblue;
  font-size: 25px;
}
a:hover{
  color: antiquewhite;
}
.category-link{
  text-shadow: black 3px 0 2px;
  font-size: 30px;
}
p{
  font-size: 20px;
}
h2{
  text-align: center;
}

.shadow {
  text-shadow: black 3px 0 2px;
}

.box {
  background: #fdf5e6ee;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
  padding: 5%;
  margin-left: 4%;
  margin-right: 4%;
  padding-top: 2%;
}

.container-category {
  margin-top: 15%;
  margin-left: 2%;
  margin-right: 5%;
}
.container-recipe{
  margin-top: 5%;
  margin-left: 2%;
  margin-right: 5%;
}
.ingredient{
  margin-bottom: 4%;
}
.category-list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 80px;
  text-align: center;
}

.category-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
}



@media (max-width: 1200px) {
  .category-list {
    gap: 100px;
    grid-template-columns: repeat(3, 1fr);
  }
  .container-category {
    margin-left: 15%;
    margin-right: 25%;
    margin-top: 20%;
    margin-bottom: 5%;
  }
}

@media (max-width: 1040px) {
  .category-list {
    gap: 100px;
    grid-template-columns: repeat(2, 1fr);
  }
  .container-category {
    margin-left: 15%;
    margin-right: 25%;
    margin-top: 20%;
    margin-bottom: 5%;
  }
}

@media (max-width: 768px) {
  .category-list {
    gap: 100px;
    grid-template-columns: repeat(2, 1fr);
  }
  .container-category {
    margin-left: 15%;
    margin-right: 25%;
    margin-top: 25%;
    margin-bottom: 5%;
  }
}

@media (max-width: 576px) {
  .category-list {
    gap: 80px;
    grid-template-columns: repeat(1, 1fr);
  }
  .container-category {
    margin-left: 15%;
    margin-right: 25%;
    margin-top: 15%;
    margin-bottom: 5%;
  }
  
}

@media (max-width: 426px) {
  .category-list {
    grid-template-columns: repeat(1, 1fr);
  }
  .container-category {
    margin-left: 10%;
    margin-right: 22%;
    margin-top: 25%;
    margin-bottom: 5%;
  }
  .container-recipe{
    margin-left: 12%;
    margin-right: 25%;
    margin-top: 25%;
    margin-bottom: 5%;
  }

}

@media (max-width: 376px) {
  .category-list {
    grid-template-columns: repeat(1, 1fr);
  }
  .container-category {
    margin-left: 10%;
    margin-right: 38%;
    margin-top: 30%;
    margin-bottom: 5%;
  }

}
